* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1280px;
    margin: auto;
}

i {
    font-size: 2.2rem;
    color: white;
    margin-right: 10px;
}

.flex {
    display: flex;
    align-items: center;
    height: 100px;
    flex-shrink: 0;
}

header {
    width: 100%;
    padding: 30px 4%;
    position: sticky;
    top: 0;
    background-color: #333;
    z-index: 999;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin: 0 10px;
}

header ul li a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 20px;
}

section {
    padding: 20px;
}

.servico1 p {
    align-items: center;
}

.galeria_caixa {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

.galeria img {
    transition: transform 0.3s;
}

.galeria {
    height: 200px;
    width: 20%;
    border:thick solid;
    padding: 5px;
    margin: 0 10px 0 0;
}

.galeria:hover {
    transform: scale(1.1);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    flex-shrink: 0;
}